 /* Hero Section */
 #hero {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  #hero h2 {
    font-size: 2.5rem;
    color: var(--text-light);
  }
  
  #hero p {
    font-size: 1.25rem;
    color: #ccc;
  }